:root {
    --preto: #1D1D1D;
    --cinza-escuro: #3F3D3D;
    --cinza: #5D5C5C;
}

body {
    margin: 0;
    background-color: var(--preto);
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem auto 0 auto;
    border: solid 2px #7e7e7e;
    border-radius: 10px;
    padding: 1rem;
    font-family: 'Segoe UI', 'Arial';
    font-weight: 600;
    width: 30%;
    background-color: var(--cinza-escuro);
    color: #FFF;
}

.form-label {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-input {
    width: 95%;
    background-color: var(--cinza);
    padding: 5px;
    font-family: 'Segoe UI';
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFF;
    border: none;
}

.form-input:focus {
    outline: none;
}

.form-mensagem-sucesso,
.form-mensagme-erro {
    text-align: center;
    color: red;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 20px;
}

.form-mensagem-sucesso {
    color: #33c217;
}

.form-mensagem-erro {
    color: #fa0303;
}

.primary-button {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #FFF;
    text-decoration: none;
    color: #000;
}

.primary-button:hover {
    transition: 500ms;
    background-color: var(--cinza);
    color: #FFF;
}

.segoe-ui-padrao {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 1rem;
    color: #FFF;
}

text-center {
    text-align: center;
}

/* Atendimento */
.atendimentos-div {
    font-family: 'Segoe UI';
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFF;
    width: 90%;
    margin: 20px auto;
}

.atendimentos-column-div {
    display: flex;
    justify-content: center;
}

.atendimento-column-header,
.atendimento-column-cell {
    flex: 1;
    padding: 10px;
    background-color: rgb(0 255 240 / 10%);
    text-align: center;
    border: solid 1px #FFF;
    box-sizing: border-box;
}

.atendimento-column-cell:nth-child(1),
.atendimento-column-header:nth-child(1) {
    flex: 0 0 20%;
}

.atendimento-column-cell:nth-child(2),
.atendimento-column-header:nth-child(2) {
    flex: 0 0 20%;
}

.atendimento-column-cell:nth-child(3),
.atendimento-column-header:nth-child(3) {
    flex: 0 0 60%;
}

.atendimento-column-cell {
    background-color: transparent;
    white-space: nowrap;
    overflow-x: auto;
    color: #FFF;
    text-decoration: none;
}

.atendimento-row-cell {
    display: flex;
    justify-content: center;
}

.atendimento-row-cell:hover {
    background-color: var(--cinza);
    transition: 500ms;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #3f3d3d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7e7e7e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cinza);
}