@page "/atendimentos"
@inject IAtendimentoService atendimentoService
@inject IAuthService authService

<AuthorizeView>
    <Authorized>
        @if (AtendimentosList is not null && AtendimentosList.Count > 0)
        {
            <div class="page-div">
                <div class="column-div">
                    <div class="column-header">Numero</div>
                    <div class="column-header">Versão</div>
                    <div class="column-header">Descrição</div>
                </div>
                <div style="display: flex; justify-content: center; flex-direction: column;">
                    @foreach (var atendimento in AtendimentosList)
                    {
                        <div class="row-cell">
                            <div class="column-cell">@atendimento.Numero</div>
                            <div class="column-cell">@atendimento.Versao</div>
                            <div class="column-cell">@atendimento.Descricao</div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="segoe-ui-padrao" style="margin: 20px 0; text-align: center; font-size: 1.5rem;">
                Não foi encontrado nenhum atendimento
            </div>
        }
        <div style="text-align: center; margin: 40px;">
            <a href="/atendimento/criar" class="primary-button">Criar atendimento</a>
        </div>
        <div style="text-align: center; margin: 40px;">
            <a href="/" class="primary-button">Voltar</a>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    List<AtendimentoModel>? AtendimentosList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetUserAtendimentos();
        await base.OnInitializedAsync();
    }

    private async Task GetUserAtendimentos()
    {
        string? userId = authService.GetTokenClaimValue(TokenClaimTypes.ID);

        if (!string.IsNullOrEmpty(userId))
        {
            AtendimentosList = await atendimentoService.GetAtendimentosByUserId(Guid.Parse(userId));
        }
    }
}
