<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <Authorizing>
                <text>Aguarde estamos verificando sua conexão...</text>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Não encontrado</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p>Pagina não encontrada</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
