@page "/"
@inject IAuthService authService;

<div style="text-align: center; margin-top: 20px;">
    <a href="/login" class="primary-button">Login</a>
</div>
<div style="text-align: center; margin-top: 30px;">
    <a href="/logout" class="primary-button">Logout</a>
</div>

<AuthorizeView>
    <div style="text-align: center; margin-top: 30px; color: #FFF; font-size: 1rem;">
       Olá @context.User.FindFirst(ClaimTypes.Name)?.Value
    </div>
</AuthorizeView>

@code {
    private string? Username { get; set; }
    private string? ID { get; set; }
    private string? AccessToken { get; set; }

    protected override void OnInitialized()
    {
        Username = authService.GetTokenClaimValue(TokenClaimTypes.Username);
        ID = authService.GetTokenClaimValue(TokenClaimTypes.ID);
        AccessToken = authService.GetTokenClaimValue(TokenClaimTypes.AccessToken);

        base.OnInitialized();
    }
}