@page "/"
@inject IAuthService authService;

<AuthorizeView>
    <NotAuthorized>
        <div style="text-align: end; margin: 20px;">
            <a href="/login" class="primary-button">Entrar</a>
        </div>
    </NotAuthorized>
    <Authorized>
        <div style="text-align: end; margin: 20px;">
            <a href="/logout" class="primary-button">Sair</a>
        </div>
        <div style="text-align: center; margin-top: 30px; color: #FFF; font-size: 1.2rem;">
            Olá @context.User.FindFirst(TokenClaimTypes.Username.ToString())?.Value
        </div>
        <div style="text-align: center; margin: 40px;">
            <a href="/atendimento/criar" class="primary-button">Criar atendimento</a>
        </div>
        <div style="text-align: center; margin: 40px;">
            <a href="/atendimentos" class="primary-button">Atendimentos</a>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}