@page "/"

<div style="text-align: center; margin-top: 20px;">
    <a href="/login" class="primary-button">Login</a>
</div>
<div style="text-align: center; margin-top: 30px;">
    <a href="/logout" class="primary-button">Logout</a>
</div>