@page "/"
@inject IAuthService authService;

<div style="text-align: center; margin-top: 20px;">
    <a href="/login" class="primary-button">Login</a>
</div>
<div style="text-align: center; margin-top: 30px;">
    <a href="/logout" class="primary-button">Logout</a>
</div>

@if (Username != string.Empty)
{
    <div style="text-align: center; margin-top: 30px; color: #FFF; font-size: 1rem;">
        Olá @Username
    </div>
}

@code {
    private string? Username { get; set; }

    protected override void OnInitialized()
    {
        BuscarClaims();
        base.OnInitialized();
    }

    private void BuscarToken()
    {
        var token = authService.GetUserToken();
    }

    private void BuscarClaims()
    {
        IEnumerable<Claim>? claims = authService.GetUserClaims();

        Username = claims?.Where(x => x.Type == ClaimTypes.Name)?.FirstOrDefault()?.Value;
    }
}