@page "/registroconcluido"

<div>
    <div class="segoe-ui-padrao" style="text-align: center; font-size: 1.2rem">Registro concluído com sucesso.</div>
    <div class="segoe-ui-padrao" style="text-align: center; font-size: 1.2rem">Aperte no botão abaixo para realizer login</div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/" class="primary-button">Login</a>
    </div>
</div>

@code {

}
